:root {
	color-scheme: only light;
}
::backdrop {
	background-color: #212121e6;
	backdrop-filter: blur(5px);
}
* {
	outline: none;
	border: none;
	box-sizing: border-box;
	font-family: Trebuchet MS;
	font-size: clamp(16px, 1.5lvmax, 2lvmax);
	color: inherit;
	user-select: none;
	overscroll-behavior: none;
}
a {
	all: unset;
}
[href] {
	cursor: pointer;
}
body {
	margin: 0;
	display: grid;
	font-family: monospace;
	color: #9E9E9E;
	/*padding-top: env(safe-area-inset-top);
	padding-bottom: env(safe-area-inset-bottom);
	padding-left: env(safe-area-inset-left);
	padding-right: env(safe-area-inset-right);*/
}
body > * {
	padding: 5px 0;
}
[info] {
	color: #000;
}
[error] {
	color: #FF0033;
}
