:root {
	color-scheme: light;
}
html {
	color-scheme: light;
}
* {
	background: white;
	background-color: white;
}
@media (prefers-color-scheme: dark) {
	html {
		background: white;
		background-color: white;
	}
}
* {
	outline: none;
	border: none;
	box-sizing: border-box;
	font-family: Trebuchet MS;
	font-size: clamp(16px, 1.5lvmax, 2lvmax);
	color: inherit;
	user-select: none;
}
a {
	all: unset;
}
body {
	display: grid;
	font-family: monospace;
	color: #9E9E9E;
}
body > * {
	padding: 5px 0;
}
[href] {
	cursor: pointer;
}
[info] {
	color: #000;
}
[error] {
	color: #FF0033;
}
