a {
	all: unset;
}
body {
	display: grid;
	font-family: monospace;
	color: #9E9E9E;
}
body > * {
	padding: 5px 0;
}
[href] {
	cursor: pointer;
}
[info] {
	color: #000;
}
[error] {
	color: #FF0033;
}
