:root {
	color-scheme: light;
}
:fullscreen {
	background-color: white;
}
html {
	color-scheme: light;
	position: absolute;
	inset: 0;
	min-height: 100vh;
	min-height: -webkit-fill-available;
}
* {
	outline: none;
	border: none;
	box-sizing: border-box;
	font-family: Trebuchet MS;
	font-size: clamp(16px, 1.5lvmax, 2lvmax);
	color: inherit;
	user-select: none;
	margin: 0;
	padding: 0;
	background: white;
	background-color: white;
	color-scheme: light;
}
a {
	all: unset;
}
body {
	/*padding-top: env(safe-area-inset-top);
	padding-bottom: env(safe-area-inset-bottom);
	padding-left: env(safe-area-inset-left);
	padding-right: env(safe-area-inset-right);*/
	min-height: 100vh;
	min-height: -webkit-fill-available;
	display: grid;
	font-family: monospace;
	color: #9E9E9E;
}
body > * {
	padding: 5px 0;
}
[href] {
	cursor: pointer;
}
[info] {
	color: #000;
}
[error] {
	color: #FF0033;
}
