a {
	all: unset;
}
body {
	display: grid;
	font-family: monospace;
}
body > * {
	padding: 5px 0;
}
[href] {
	cursor: pointer;
}
[info] {
	color: #3F51B5;
}
[error] {
	color: #FF0033;
}
