::backdrop {
	background: rgb(0 0 0 / 25%);
	backdrop-filter: blur(5px);
}
body {
	display: flex;
	flex-direction: column;
	min-height: 100dvh;
	font-family: Roboto, Segoe UI, San Francisco;
	font-size: clamp(16px, 1vw + 1rem, 1.5rem);
	text-align: center;
	line-height: 2;
	background: #FAFAFA;
	color: #424242;
}
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-size: inherit;
	user-select: none;
}
dialog {
	margin: auto;
	width: 80vi;
	border: none;
	background: #FAFAFA;
	border-radius: .5rem;
	box-shadow: rgba(50 50 93 / .25) 0 4px 8px 0, rgba(0 0 0 / .3) 0 8px 20px 0;
	animation: horizontal-shaking .15s 3 ease-in-out;
}
dialog[open] {
	display: grid;
	gap: 15px;
}
dialog > * {
	padding: 0 15px;
}
dialog > :first-child {
	padding: 5px 0;
	background: #1B4E8C;
	color: #FAFAFA;
}
dialog > :last-child {
	padding-bottom: 15px;
}
@keyframes horizontal-shaking {
	0% {
		transform: translateX(0);
	}
	25% {
		transform: translateX(5px);
	}
	50% {
		transform: translateX(-5px);
	}
	75% {
		transform: translateX(5px);
	}
	100% {
		transform: translateX(0);
	}
}
main {
	padding-top: max(2vh, 2vw, env(safe-area-inset-top));
	padding-bottom: max(2vh, 2vw, env(safe-area-inset-bottom));
	padding-left: max(2vh, 2vw, env(safe-area-inset-left));
	padding-right: max(2vh, 2vw, env(safe-area-inset-right));
}
main::before {
	content: '';
	position: fixed;
	inset: 0;
	z-index: -1;
	background: linear-gradient(0deg, #f1f7ff, #FAFAFA), url('logo.svg') no-repeat center / 50vb;
	background-blend-mode: hard-light;
}
main > * {
	font-weight: 400;
}
main > a {
	all: unset;
}
[href] {
	cursor: pointer;
}
main > a, main > h1 {
	color: #1B4E8C;
	font-weight: 700;
}
main > button {
	margin: 1em;
}
main > button {
	padding: 10px 20px;
	background: #1B4E8C;
	color: #FAFAFA;
	border: none;
	border-radius: .5rem;
	cursor: pointer;
	transition: filter 0.2s ease, transform 0.1s ease;
}
main > button:active {
	transform: scale(0.98);
}
main > button:hover, button:active {
	filter: brightness(1.1);
}
main > button:focus-visible {
	outline: 3px solid #FF5722;
	outline-offset: 2px;
}
noscript {
	position: fixed;
	inset: 0;
	display: grid;
	place-items: center;
	background: #FAFAFA;
	color: #DB4437;
	font-weight: 700;
}
